#maps {
    height: 360px;
    width: 320px;
    border-bottom: 2px solid #444444;
    border: 3px solid #AAAAAA;
    padding: 3px 2px;

  }

  #link-1 {
    height: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  #link-2 {
    height: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  #link-3 {
    height: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  #link-4 {
    height: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  #link-5 {
    height: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  #link-6 {
    height: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  #link-7 {
    height: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  #tpen {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }

  .thead {
    background: #20BC42;
    background: -moz-linear-gradient(top, #58cd71 0%, #36c255 66%, #20BC42 100%);
    background: -webkit-linear-gradient(top, #58cd71 0%, #36c255 66%, #20BC42 100%);
    background: linear-gradient(to bottom, #58cd71 0%, #36c255 66%, #20BC42 100%);
    border-bottom: 2px solid #444444;
    border: 3px solid #AAAAAA;
    padding: 3px 2px;
  }

  .dtd {
    border-bottom: 2px solid #444444;
    border: 3px solid #AAAAAA;
    padding: 3px 2px;
  }

  .dth {
    border: 3px solid #AAAAAA;
    padding: 3px 2px;
  }
